<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calender API</title>
</head>

<body>
    <center>
        <h1>Google Calender API</h1>
        <h3>"Welcome to the Google Calender API backend to extract events from Google Account"</h3>
        <a href="rest/v1/calendar/init/">
            <h3> Prompt user for his/her credentials</h3>
        </a>
    </center>
</body>

</html>